<!DOCTYPE html>
<html lang="en">
  {{> header}}

  <body>
    {{>navbar}}
    <br />
    <div class="uk-container">
      <div class="uk-child-width-1-4 uk-text-center" uk-grid>

        {{#each catagory}}
        <div>
          <div class="uk-card uk-card-hover uk-card-default">
            <div class="uk-card-header">
              <h3 class="uk-card-title">{{this}}</h3>
            </div>
            <div class="uk-card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="uk-card-footer">
              <a href="/{{toLowerCase this}}" class="uk-button uk-button-text">Enter</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>

      <br/>
  </body>

</html>