<!DOCTYPE html>
<html lang="en">
    {{> header}}

    <body>
        {{> navbar}}
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Mental Health Analysis</h1>
                    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum odio eveniet
                        corporis aut culpa autem ut dicta asperiores ad fuga sequi nisi magnam quas ex ipsam, adipisci
                        quod dolorem enim! </p>
                </div>
            </div>
        </div>
    </body>

</html>