<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">{{title}}</a>
  <form class="form-inline">
    <a class="btn btn-primary my-2 my-sm-0 text-white" href="/signin">Sign In</a>
  </form>
</nav>